.navbar {
  display: flex;
  justify-content: space-between;
  height: 50px;
  font-size: 14px;
  line-height: 50px;
  border-radius: 0px !important;
  color: rgba(0, 0, 0, 0.65);
  background-color: $white;

  .navbar-start {
    display: flex;
    flex: 3;
    align-items: center;

    .action-item {
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-right: 6px;

      [class^='el-icon-'] {
        font-size: 26px;
        color: #303133;
      }
    }

    .common-action {
      margin-right: 10px;

      .el-button {
        max-width: 116px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

  .navbar-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    flex: 2;

    .project-name {
      height: 22px;
      line-height: 22px;
    }

    .divider {
      height: 16px;
      width: 1px;
      margin-left: 12px;
      background-color: #dcdfe6;
    }

    .welcome {
      display: flex;
      margin-left: 10px;
    }

    .avatar {
      cursor: pointer;

      &-name {
        color: #67c23a;
      }

      .el-icon-arrow-down {
        margin-left: 8px;
        font-size: 16px;
        color: #5a5e66;
      }
    }
  }

  .hamburger-container {
    line-height: 58px;
    height: 50px;
    padding-left: 20px;
  }
}
