<template>
  <div class="navbar">
    <div class="navbar-start">
      <hamburger
        class="hamburger-container action-item"
        :toggleClick="toggleSideBar"
        :isActive="sidebar.opened"
      ></hamburger>
      <el-button-group class="action-item common-action">
        <el-tooltip :content="item.name" placement="bottom" v-for="item in businessShowListLimit" :key="item.code">
          <el-button
            size="mini"
            :disabled="item.code === currentBusiness.code"
            @click="clickToPickBusiness(item.code)"
            >{{ item.name }}</el-button
          >
        </el-tooltip>
      </el-button-group>
      <el-dropdown v-if="businessList && businessList.length > 5" class="action-item navbar-end-item" trigger="click">
        <i class="el-icon-menu"></i>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item
            v-for="item in businessShowList"
            :key="item.code"
            v-show="item.code !== currentBusiness.code"
            @click.native="clickToPickBusiness(item.code)"
          >
            {{ item.name }}
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
      <el-popover placement="bottom" trigger="click" title="业务系统显示排序" popper-class="order-action-popover">
        <draggable v-model="businessShowList" class="order-action" @change="changeOrderList">
          <transition-group>
            <div v-for="(item, index) in businessShowList" :key="item.code" class="order-action-item">
              <span>{{ index + 1 }}:</span> {{ item.name }}
            </div>
          </transition-group>
        </draggable>
        <div class="action-item" slot="reference">
          <i class="el-icon-s-operation"></i>
        </div>
      </el-popover>
    </div>
    <div class="navbar-end">
      <div class="project-name">{{ currentBusiness.name }}</div>
      <div class="divider"></div>
      <navbar-custom></navbar-custom>
      <div class="welcome" v-if="userInfo">
        <span class="name">hi, </span>
        <el-dropdown class="avatar navbar-end-item" trigger="click">
          <div>
            <span class="avatar-name">{{ userInfo.name }}</span>
            <i class="el-icon-arrow-down"></i>
          </div>
          <el-dropdown-menu slot="dropdown">
            <router-link class="inlineBlock" to="/">
              <el-dropdown-item>
                首页
              </el-dropdown-item>
            </router-link>
            <el-dropdown-item divided>
              <span @click="logout" style="display: block;">退出登录</span>
            </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Draggable from 'vuedraggable'
import Hamburger from '@base/components/Hamburger'
import NavbarCustom from '@logic/views/navbarCustom/index.vue'
import { getConfig, saveConfig } from '@base/api/user'

export default {
  components: {
    Hamburger,
    NavbarCustom,
    Draggable
  },
  data () {
    return {
      configList: null,
      businessShowList: []
    }
  },
  computed: {
    ...mapGetters(['sidebar', 'userInfo', 'businessList', 'currentBusiness']),
    businessShowListLimit () {
      return this.businessShowList.slice(0, 5)
    }
  },
  async created () {
    getConfig().then((configList = []) => {
      try {
        configList = JSON.parse(configList)
      } catch (err) {
        console.warn('JSON parse to Array catch error')
        configList = []
      }
      this.configList = configList
      this.generateBusinessShowList(configList, this.businessList)
    })
  },
  methods: {
    toggleSideBar () {
      this.$store.dispatch('ToggleSideBar')
    },
    logout () {
      this.$store.dispatch('LogOut').then(() => {
        // 为了重新实例化vue-router对象 避免bug
        location.reload()
      })
    },
    clickToPickBusiness (code) {
      this.$store.commit('SET_CURRENT_BUSINESS', code)
      location.href = `http://${location.host}/${code}/`
    },
    generateBusinessShowList (configList, businessList) {
      const filterList =
        businessList.filter((business) => {
          return !configList.some((configBusiness) => {
            return business.code === configBusiness.code
          })
        }) || []

      this.businessShowList = configList.concat(filterList)
    },
    changeOrderList () {
      saveConfig({
        data: JSON.stringify(this.businessShowList)
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import './index';
</style>
<style lang="scss">
.order-action-popover {
  .el-popover__title {
    padding: 0 10px;
    font-size: 14px;
  }

  .order-action {
    .order-action-item {
      padding: 0 10px;
      line-height: 30px;
      cursor: move;
      background-color: $white;
    }
  }
}
</style>
