.page-equity-manage-detail {
  .detail-row {
    display: flex;
    margin-bottom: 10px;

    .title {
      width: 100px;
      margin-right: 10px;
      text-align: right;
    }

    .content {
    }
  }
}
