<template>
  <Page class="page-equity-manage-detail">
    <ul class="detail-list">
      <li class="detail-row">
        <div class="title">权益名称:</div>
        <div class="content">{{ rowData.equityName }}</div>
      </li>
      <li class="detail-row">
        <div class="title">品牌:</div>
        <div class="content">{{ rowData.brandCode }}</div>
      </li>
      <li class="detail-row">
        <div class="title">创建时间:</div>
        <div class="content">{{ rowData.createDate }}</div>
      </li>
    </ul>
    <el-button @click="clickToBack">返回</el-button>
  </Page>
</template>

<script src="./index.js"></script>
<style lang="scss" scoped>
@import 'index.scss';
</style>
