#app {
  // 主体区域
  .main-container {
    position: relative;
    height: 100%;
    transition: margin-left 0.28s;
    margin-left: 240px;
    background-color: $bg;
  }

  // 侧边栏
  .sidebar-container {
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }
    transition: width 0.28s;
    width: 240px !important;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    a {
      display: inline-block;
      width: 100%;
    }
    .svg-icon {
      margin-right: 16px;
    }
    .el-menu {
      border: none;
      width: 100% !important;
    }

    [class^='el-icon'] {
      font-size: 13px;
      color: #fff;
    }

    .el-submenu [class^='el-icon-'] {
      margin-right: 3px;
    }

    .el-submenu__title,
    .el-menu-item {
      height: 46px;
      line-height: 46px;
      padding: 0 15px !important;
      font-size: 13px;
      color: #fff;
    }

    .el-submenu__icon-arrow {
      right: 15px;
      margin-top: -5px;
      font-size: 12px;
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: 54px !important;
    }
    .main-container {
      margin-left: 54px;
    }
    .el-menu-item {
      padding-left: 5px !important;

      .el-tooltip {
        padding-left: 15px !important;
      }
    }
    .el-submenu {
      padding-left: 5px !important;

      .el-tooltip {
        padding: 0 10px !important;
      }
    }
    .el-submenu {
      & > .el-submenu__title {
        padding-left: 10px !important;
        & > span {
          height: 0;
          width: 0;
          overflow: hidden;
          visibility: hidden;
          display: inline-block;
        }
        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }
  }

  .sidebar-container .nest-menu .el-submenu > .el-submenu__title,
  .sidebar-container .el-submenu .el-menu-item {
    min-width: 180px !important;
    padding-left: 55px !important;
    padding-right: 10px;
    background-color: $subMenuBg !important;
    color: #fff !important;
  }

  .sidebar-container .el-menu-item {
    &:hover {
      background-color: $menuHover !important;
    }

    &.is-active {
      background-color: $menuHover !important;
      color: #fff;
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: 180px !important;
  }
  .el-menu--collapse .el-menu-item .el-menu-item-link {
    background: red;
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
    display: inline-block;
  }

  //适配移动端
  .mobile {
    .main-container {
      margin-left: 0;
    }
    .sidebar-container {
      top: 50px;
      transition: transform 0.28s;
      width: 180px !important;
    }
    &.hideSidebar {
      .sidebar-container {
        transition-duration: 0.3s;
        transform: translate3d(-180px, 0, 0);
      }
    }
  }

  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

.el-menu--popup {
  .el-menu-item {
    color: $white;

    &.is-active {
      color: $menuHover;
    }
  }
}
