.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.bottom-gap {
  margin-bottom: $gap;
}

.top-gap {
  margin-bottom: $gap;
}

.left-gap {
  margin-left: $gap;
}

.right-gap {
  margin-right: $gap;
}
