<template>
  <Page class="page-equity-manage">
    <div class="search-block">
      <el-form label-width="100px" :model="form" ref="form">
        <el-row>
          <el-col :span="8">
            <el-form-item label="页码" props="page">
              <el-select v-model="form.page" placeholder="请选择页码" class="w100">
                <el-option v-for="item in pageList" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="条数" props="rows">
              <el-select v-model="form.rows" placeholder="请选择条数" class="w100">
                <el-option v-for="item in rowList" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="输入框测试" prop="testInput">
              <el-input v-model="form.testInput"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" justify="end">
          <el-button type="primary" @click="clickToSearch">查询</el-button>
          <el-button @click="resetForm('form')">重置</el-button>
        </el-row>
      </el-form>
    </div>

    <div class="table-block">
      <div class="table-block-operation">
        <el-button type="primary">新建</el-button>
        <el-button>测试</el-button>
      </div>
      <el-table class="w100" :data="tableData" stripe border>
        <el-table-column prop="equityName" label="权益名称" width="180"></el-table-column>
        <el-table-column prop="brandCode" label="品牌" width="180"></el-table-column>
        <el-table-column prop="createDate" label="创建时间"></el-table-column>
        <el-table-column label="状态">
          <template slot-scope="scope">
            <span :class="[getStatusClass(scope.$index), 'table-block-status']">关闭</span>
          </template>
        </el-table-column>
        <el-table-column prop="createDate" label="操作">
          <template slot-scope="scope">
            <ul class="table-block-action">
              <li>
                <el-link type="primary">编辑</el-link>
                <span class="link-divider"></span>
                <el-link type="primary" @click="clickToCheck(scope.row)">查看</el-link>
              </li>
              <li>
                <el-link type="primary">删除</el-link>
                <span class="link-divider"></span>
                <el-link type="primary">审核</el-link>
              </li>
            </ul>
          </template>
        </el-table-column>
      </el-table>
      <el-row type="flex" justify="end">
        <el-pagination
          background
          @size-change="clickToChangeRows"
          @current-change="clickToChangePage"
          :current-page="form.page"
          :page-sizes="[2, 4, 6, 8]"
          :page-size="form.rows"
          layout="total, sizes, prev, pager, next, jumper"
          :total="totalRecord"
        >
        </el-pagination>
      </el-row>
    </div>
  </Page>
</template>

<script src="./index.js"></script>
<style lang="scss" scoped>
@import 'index.scss';
</style>
