<template>
  <Page class="page-person-info">人员信息</Page>
</template>

<script>
export default {
  components: {},
  data () {
    return {}
  },
  computed: {},
  watch: {},
  methods: {},
  mounted () {}
}
</script>

<style lang="scss" scoped>
@import 'index';
</style>
