<template>
  <scroll-bar>
    <el-menu
      mode="vertical"
      :show-timeout="200"
      :default-active="sidebarRouteName"
      :collapse="isCollapse"
      background-color="#001529"
    >
      <sidebar-item :routes="routes"></sidebar-item>
    </el-menu>
  </scroll-bar>
</template>

<script>
import { mapGetters } from 'vuex'
import SidebarItem from './SidebarItem'
import ScrollBar from '@base/components/ScrollBar'

export default {
  components: { SidebarItem, ScrollBar },
  computed: {
    ...mapGetters(['sidebar', 'menu']),
    sidebarRouteName () {
      const name = this.$route.name
      if (typeof name === 'string') {
        return name.split('|')[0]
      }
      return ''
    },
    isCollapse () {
      return !this.sidebar.opened
    },
    routes () {
      if (Array.isArray(this.menu) && this.menu[0]) {
        return this.menu[0].items
      }

      return []
    }
  }
}
</script>
