<template>
  <div>
    <i class="el-icon-s-fold hamburger" @click="toggleClick" :class="{ 'is-active': isActive }"></i>
  </div>
</template>

<script>
export default {
  name: 'hamburger',
  props: {
    isActive: {
      type: Boolean,
      default: false
    },
    toggleClick: {
      type: Function,
      default: null
    }
  }
}
</script>

<style scoped>
.hamburger {
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
  transform: rotate(180deg);
  transition: 0.2s;
  transform-origin: 50% 50%;
}
.hamburger.is-active {
  transform: rotate(0deg);
}
</style>
