.page-home {
  position: relative;
  height: $contentMinHeight;
  background-image: url('~@/base/assets/images/bg-home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 50%;

  .system-title {
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 48px;
    font-weight: 600;
  }
}
