.login-page {
  height: 100%;
  padding-left: 488px;
  background-color: $white;
}

.login {
  position: absolute;
  left: 0;
  top: 50%;
  width: 488px;
  padding: 0 74px;
  transform: translateY(-50%);

  &-logo {
    max-width: 100%;
  }

  &-title {
    margin: 9px 0 60px;
    font-size: 33px;
    font-weight: 500;
    color: #606266;
  }

  &-action {
    margin-top: 36px;

    &-button {
      width: 100%;
    }
  }
}

.login-bg {
  height: 100%;
  background-image: url('~@base/assets/images/bg-login.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
}
