<template>
  <div class="login-page">
    <div class="login">
      <el-form
        autoComplete="on"
        :model="loginForm"
        :rules="loginRules"
        ref="loginForm"
        label-position="left"
        size="medium"
      >
        <div>
          <img class="login-logo" src="~@base/assets/images/logo-metersbonwe.png" alt="" />
        </div>
        <h2 class="login-title">美特斯邦威后台</h2>
        <el-form-item prop="userName">
          <el-input
            name="userName"
            type="text"
            v-model="loginForm.userName"
            autoComplete="on"
            placeholder="账户"
            prefix-icon="el-icon-user"
          >
          </el-input>
        </el-form-item>
        <el-form-item prop="password">
          <el-input
            name="password"
            :type="pwdType"
            @keyup.enter.native="handleLogin"
            v-model="loginForm.password"
            autoComplete="on"
            placeholder="密码"
            prefix-icon="el-icon-lock"
          >
            <span slot="suffix" @click="showPwd">
              <svg-icon icon-class="eye" class="color-main"></svg-icon>
            </span>
          </el-input>
        </el-form-item>
        <el-form-item class="login-action">
          <el-button class="login-action-button" type="primary" :loading="loading" @click.native.prevent="handleLogin">
            登录
          </el-button>
        </el-form-item>
      </el-form>
    </div>
    <div class="login-bg"></div>
  </div>
</template>

<script>
import { isvalidUsername } from '@base/utils/validate'
import { getCookie } from '@base/utils/support'
import loginCenterBg from '@base/assets/images/login_center_bg.png'

export default {
  name: 'login',
  data () {
    const validateUsername = (rule, value, callback) => {
      if (!isvalidUsername(value)) {
        callback(new Error('请输入正确的用户名'))
      } else {
        callback()
      }
    }
    const validatePass = (rule, value, callback) => {
      if (value.length < 3) {
        callback(new Error('密码不能小于3位'))
      } else {
        callback()
      }
    }
    return {
      loginForm: {
        userName: '',
        password: ''
      },
      loginRules: {
        userName: [{ required: true, trigger: 'blur', validator: validateUsername }],
        password: [{ required: true, trigger: 'blur', validator: validatePass }]
      },
      loading: false,
      pwdType: 'password',
      loginCenterBg,
      dialogVisible: false,
      supportDialogVisible: false
    }
  },
  created () {
    this.loginForm.userName = getCookie('userName')
    this.loginForm.password = getCookie('password')
    if (this.loginForm.userName === undefined || this.loginForm.userName == null || this.loginForm.userName === '') {
      this.loginForm.userName = 'admin'
    }
    if (this.loginForm.password === undefined || this.loginForm.password == null) {
      this.loginForm.password = ''
    }
  },
  methods: {
    showPwd () {
      if (this.pwdType === 'password') {
        this.pwdType = ''
      } else {
        this.pwdType = 'password'
      }
    },
    handleLogin () {
      this.$refs.loginForm.validate((valid) => {
        if (valid) {
          this.loading = true
          this.$store
            .dispatch('Login', this.loginForm)
            .then(() => {
              this.loading = false
              this.$router.push({ path: '/home' })
            })
            .catch(() => {
              this.loading = false
            })
        } else {
          return false
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import 'index.scss';
</style>
